@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

/* Definição de variáveis globais */
:root {
  /* Cores */
  --color-primary: #ff9900; /* Laranja principal */
  --color-secondary: #213e5b; /* Azul escuro */
  --color-text-light: #fff; /* Texto claro */
  --color-text-dark: #12263a; /* Texto escuro */
  --color-background: #071019; /* Fundo escuro (footer) */

  /* Novas cores do gradiente */
  --color-gradient-start: #233f5c;
  --color-gradient-end: #233f5c;

  /* Fontes */
  --font-family-base: "Roboto", Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* Espaçamentos */
  --padding-base: 20px;
  --padding-large: 50px;

  /* Botões */
  --btn-padding: 10px 20px;
  --btn-border-radius: 5px;
  --btn-hover-bg: #ffca3a;
  --btn-hover-color: #fff;

  /* Outros */
  --container-max-width: 1200px;
  --transition-base: all 0.3s ease;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-light);
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  /* max-width: var(--container-max-width); */
  margin: 0 auto;
  padding: 0 var(--padding-base);
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--padding-base / 2);
  }
}

header {
  background-color: #213e5b;
  padding: 30px 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 40px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav li a {
  color: var(--color-text-light);
  font-weight: var(--font-weight-bold);
  transition: color 0.3s ease;
}

nav li a:hover {
  color: var(--color-primary);
}

.btn-download {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  font-weight: var(--font-weight-bold);
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: var(--btn-hover-bg);
  color: var(--color-text-light);
}

#hero {
  padding: 50px;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
}

.hero-text h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  max-width: 500px;
}

.hero-text h2 span {
  color: var(--color-primary);
}

.hero-text .btn-hero {
  padding: 15px 30px;
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  border: none;
  border-radius: var(--btn-border-radius);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  transition: background-color 0.3s;
  width: 200px;
  text-align: center;
  margin: auto;
}

.hero-text .btn-hero:hover {
  background-color: var(--btn-hover-bg);
  color: var(--color-text-light);
}

.hero-image {
  align-self: center;
}
.hero-image img {
  width: 300px;
}

#sobre {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: var(--padding-large) 0; */
}

.sobre-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.sobre-image {
  flex: 1;
  position: relative;
  /* min-height: 100vh; */
}

.sobre-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.sobre-text {
  flex: 1;
  background-image: url("images/bg-yellow.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-dark);
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre-text h2 {
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.sobre-text p {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  text-align: left;
  word-break: normal;
  margin-bottom: 1;
}

#peoples-running {
  padding: 50px 0;
  background-color: #213e5b;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery img {
  width: 1200px;
}

#inspire-se {
  padding: 100px 0;
  text-align: center;
  position: relative;
}

#inspire-se::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/runner-silhouette.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

#servicos {
  padding: 50px 0;
  color: var(--color-text-light);
}

.servicos-header {
  text-align: center;
}

.servicos-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.servico-item {
  text-align: center;
}

.servico-item img {
  width: 50px;
  margin-bottom: 15px;
}
